@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@font-face {
  font-family: 'MiFuente';
  src: url('./Bushcraft.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#bg{
  background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;     /* centra horizontalmente */
    text-align: center;
    background-image: url("./imagenes/fondo10.png   ");
    background-size:cover;
    background-repeat:repeat;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;     /* centra horizontalmente */
    text-align: center;
}
.container2 {
    flex: 1; /* Ocupa todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra dentro del contenedor */
    align-items: center;
    
}
.container {
    flex: 1; /* Ocupa todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra dentro del contenedor */
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

footer {
    padding: 15px;
    font-size: 1.2rem;
    color: #666;
}


.portada{
    
    width: 100%;
    height: auto;
}
.nombre{
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* CONTADOR DE TIEMPO */

.countdown {
  display: flex;
  gap: 30px;
  text-align: center;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time span {
  font-size: 3rem;  /* números grandes */
  font-weight: 400;
  color: #ffffff;
}

.label {
  font-size: 0.90rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 6px;
}

/* CARRUSEL */
.carousel {
    margin-top: 30PX;
}

.cuando{
    width: 100%;
    height: auto;
    
}

.donde{
    width: 100%;
    height: auto;
}

.btn-maps {
  display: inline-block;
  padding: 12px 24px;
  background-color: #858585; /* Verde estilo Google Maps */
  color:rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn-maps:hover {
  background-color: #2c8e46; /* Verde más oscuro al pasar el mouse */
}

.imgExtra {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.pago {
  font-family: 'MiFuente', sans-serif;
  margin: 20px;
  background-color:#000000;
  font-size: 1rem;
}

.alias-box {
  font-family: 'MiFuente', sans-serif;
  color: #ffffff;
  font-size: 1rem;
}

.btn-copiar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #666666;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  font-family: 'MiFuente', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-copiar:hover {
  background-color: #ffda96;
}

#mensaje-copiado {
  margin-top: 10px;
  color: #000000;
  font-weight: bold;
}
.FraseRegalo{
    font-family: 'MiFuente', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 20px;
    color: grey;    color: gre;
}

.dress{
    width: 100%;
}

.botonW {
    font-family: 'MiFuente', sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
}
.wap{
    width: 5rem;
}

.fraseFinal{
    font-family: 'MiFuente', sans-serif;
    font-size: 2rem;
    color: #ffffff;
}
footer{
    background-color: #dacaad;
    color: black;
    margin-top: 30px;
    width: 100%;
}

footer a span {
  color: #000;
  text-decoration: none; /* también sirve acá */
}

footer span:hover {
  color: purple; /* opcional: cambia al pasar el mouse */
}
footer a:hover {
  color: purple; /* opcional: cambia al pasar el mouse */
}


.logoInsta {
    width: 1.3rem;
}
.asis{
  margin-bottom: -10px;
}

